* {
  padding: 0px;
  margin: 0px;
}
.header-phone-number {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
.navigation-bar-image {
  background-color: #E5E5E5;
}
.navigation-bar-image img{
  height: 50px;
}
.navigation-bar-button{
  color:#000000;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0.7px 0 #000000;
}
.navigation-bar-button:hover{
  color:red;
  text-decoration: none ;
}
/*START OF BANNER PART OF THE WEBPAGE*/
.banner{
  position: relative;
  /* width:100%; */
}
.banner-img{
  width:100%;
  height: 130px;
  /* height:50%; */
}
.banner-tag{
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #000000;
  opacity: 75%;
  width:100%;
  height: 40px;
}
.banner-tag h2{
  color: #4BD9EE;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-shadow: 1px 0 #0290D8;
}
/*START OF WELCOME PART OF THE WEBPAGE*/
.laptop-text {
  display: none;
}
.tablet-text {
  display:none;
}
.welcome-content h2{
  color: #E77634;
  font-weight: bold;
  text-shadow: 1px 0 #E77634;
  letter-spacing: 4px;
  text-decoration-line:underline;
}
.mobile-text{

  letter-spacing: 0.1px;
}
/*START OF MAIN PART OF THE WEBPAGE*/
.main-content {
  background-color: #EAEAEA;
}
h3{
  color: #0390D8;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1.5px 0 #0390D8;
}
.main-intro-content h3{
  color: #0390D8;
}
.thumbnail {
    position: relative;
}
.caption {
    position: absolute;
    top: 5%;
    left:0%;
    width: 100%;
}
.caption dd{
  font-weight: bold;
}
.donor-content h3{
  color: #904003;
  text-shadow: 1.5px 0 #904003;
  text-decoration-line:underline;
}
.receiver-content h3{
  color: #207B7C;
  text-decoration-line:underline;
}
.content-sub-heading {
  font-weight: bold;
  text-shadow: 1px 0 #000000;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.content-line { /*USED TO DRAW LINE BETWEEN DONOR AND RECEIVER CONTENT*/
  height: 1px;
  background-color: #676767;
}
.image-text {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0.7px 0 #000000;
  letter-spacing: 1px;
}
/*START OF FOOTER PART OF THE WEBPAGE*/
.footer-bar-button{
  color:#000000;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-shadow: 1px 0 #000000;

}
.footer-links {
  background-color: #E6E4E5;
}

.copyright-text {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 1px 0 #888888;
  font-size: 12px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .header-phone-number{
    text-align: right;
  }
  .navigation-bar{
    background-color: #E3E5EA;
  }
  .banner-tag {
    height:60px;
  }
  .banner-tag h2{
    font-size: 25px;
    }
  .banner-img{
    height: 230px;
  }
  .mobile-text {
    display: none;
  }
  .tablet-text {
    display: block;
    letter-spacing: 0.4px;
    font-size: 18px;
  }
  .content-sub-heading {
    margin-bottom: 0.3rem;
  }
  .footer-image {
    /* height:0px; */
    width: 8%;
  }
}
@media (min-width:1024px) {
  .banner-tag {
    height:90px;
  }
  .banner-tag h2{
      font-size: 55px;
    }
  .tablet-text {
    display: none;
  }
  .mobile-text {
    display: none;
  }
  .laptop-text {
    display: block;
    letter-spacing: 0.8px;
    font-size: 18px;
  }
  .footer-image {
    /* height:0px; */
    width: 6%;
  }
  .banner-img{
    height: 330px;
    /* height:50%; */
  }
}
