* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Open Sans' ;
}
.header-phone-number {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
.navigation-bar-image {
  background-color: #E5E5E5;
}
.navigation-bar-image img {
  height: 50px;
}
.navigation-bar-button {
  color:#000000;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
.navigation-bar-button:hover {
  color:red;
  text-decoration: none ;
}
/*START OF BANNER PART OF THE WEBPAGE*/
/* .banner {
  position: relative;
  width:100%;
}
.banner-img {
object-fit: cover;
  max-width:100%;
  height: auto;
}
.banner-tag {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #000000;
  opacity: 70%;
  width:100%;
  height: 40px;
}
.banner-tag h2 {
  color: #67A6D9;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 0 #67A6D9;
  letter-spacing: 1px;
} */
/* .banner-img{
  height:100px;
  overflow: hidden;
background-size: cover;
background-position: center;
background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fgetbootstrap.com%2Fdocs%2F4.4%2Fcontent%2Fimages%2F&psig=AOvVaw0lajzg2S_Ps0jufUl22dn4&ust=1582866811929000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCICPy8P88OcCFQAAAAAdAAAAABAD');
} */
.banner {
  color: white;
  background: url('images/BANNER_PHOTO.jpg') top left/cover no-repeat;
  height: 150px;
  position: relative;
}
.banner-tag {
  bottom:0%;
  position: absolute;
  background-color: #000000;
  opacity: 75%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-tag h2 {
  color: #67A6D9;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 0 #67A6D9;
  letter-spacing: 1px;
}
/*START OF WELCOME PART OF THE WEBPAGE*/
.laptop-text {
  display: none;
}
.tablet-text {
  display:none;
}
.welcome-content-heading {
  color: #E77634;
  font-weight: bold;
  text-shadow: 1px 0 #E77634;
  letter-spacing: 2px;
  text-decoration-line:underline;
  font-size: 30px;
}
/*START OF MAIN PART OF THE WEBPAGE*/
.main-content {
  background-color: #EAEAEA;
}
.main-content-heading {
  color: #0390D8;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: 1.5px 0 #0390D8;
}
.main-content p {
  margin-bottom: 0.2rem;
}
.thumbnail {
    position: relative;
}
.caption {
    position: absolute;
    top: 5%;
    width: 100%;
}
.donor-content>p {
  color: #904003;
  text-decoration-line:underline;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1.5px 0 #904003;
}
.receiver-content>p {
  color: #207B7C;
  text-decoration-line:underline;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-shadow: 1.5px 0 #207B7C;
}
.content-sub-heading {
  font-weight: bold;
  text-shadow: 1px 0 #000000;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.content-line { /*USED TO DRAW LINE BETWEEN DONOR AND RECEIVER CONTENT*/
  height: 1px;
  background-color: #676767;
}
.caption li {
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0.7px 0 #000000;
  letter-spacing: 1px;
  list-style: none;
}
/*START OF FOOTER PART OF THE WEBPAGE*/
.footer-bar-button {
  color:#000000;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-shadow: 1px 0 #000000;
}
.footer-links {
  background-color: #E6E4E5;
}
.footer-image {
  width: 28px;
}
.copyright-text {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 1px 0 #888888;
  font-size: 12px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .header-phone-number{
    text-align: right;
  }
  .navigation-bar {
    background-color: #E3E5EA;
  }
  .banner {
    height:250px;
  }
  .banner-tag h2 {
    font-size: 35px;
    }
  .mobile-text {
    display: none;
  }
  .tablet-text {
    display: block;
    letter-spacing: 0.4px;
    font-size: 18px;
  }
  .content-sub-heading {
    margin-bottom: 0.3rem;
  }
  .caption {
      position: absolute;
      top: 5%;
      width: 100%;
  }
  .footer-image {
    width: 30px;
  }
}
@media (min-width:1024px) {
  .navigation-bar-image img {
    height: 70px;
  }
  .navigation-bar-button {
    font-size: 25px;
    letter-spacing: 2px;
  }
  .banner {
    height:350px;
  }
  .banner-tag h2 {
    font-size: 45px;
    }
  .tablet-text {
    display: none;
  }
  .mobile-text {
    display: none;
  }
  .laptop-text {
    display: block;
    letter-spacing: 1px;
    font-size: 18px;
  }
  .welcome-content-heading {
   font-size: 45px;
  }
  .main-content-heading{
   font-size: 45px;
  }
  .footer-bar-button {
    font-size: 18px;
  }
  .donor-content>p {
    font-size: 37px;
    letter-spacing: 3px;
  }
  .receiver-content>p {
    font-size: 37px;
    letter-spacing: 3px;
  }
  .footer-image {
    width: 40px;
  }
}
