* {
  padding: 0px;
  margin: 0px;
}
.header-phone-number {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
.navigation-bar-image {
  background-color: #E3E5EA;
}
.navigation-bar-image img{
  height: 50px;
}
.navigation-bar-button{
  color:#000000;
  font-weight: bold;
  font-size: 18px;
}
.navigation-bar-button:hover{
  color:red;
  text-decoration: none !important;
}
.banner-img{
  width:100%;
  height:auto;
}
.banner-tag{
  background-color: #000000;
}
.banner-tag h2{
  color: #058FD8;
  font-weight: bold;
  font-size: 20px;
}
.laptop-text {
  display: none;
}
.welcome-content h2{
  color: #E77634;
  font-weight: bold;
  text-shadow: 1px 0 #888888;
  letter-spacing: 5px;
  text-decoration-line:underline;
}
.main-content {
  background-color: #EAEAEA;
}
h3{
  color: #0390D8;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 0 #888888;
}
.main-intro-content h3{
  color: #0390D8;
}
.donor-content h3{
  color: #904003;
  text-decoration-line:underline;
}
.receiver-content h3{
  color: #207B7C;
  text-decoration-line:underline;
}
.content-sub-heading {
  font-weight: bold;
  text-shadow: 1px 0 #888888;
}
.content-line {
  height: 1px;
  background-color: #676767;
}
.footer-bar-button{
  color:#000000;
  font-weight: bold;
  font-size: 20px;
}
.footer-links {
  background-color: #E6E4E5;
}
.copyright-text {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 1px 0 #888888;
}
@media (min-width:576px){
  .navigation-bar{
    background-color: #E3E5EA;
  }
}
@media (min-width: 768px) {
  .header-phone-number{
    text-align: right;
  }
  .navigation-bar{
    background-color: #E3E5EA;
  }
  .banner-tag p{
    letter-spacing: 10px;
    font-size: 100%;
  }
}
@media (min-width:1024px) {
  .banner-tag {
    letter-spacing: 10px;
    font-size: 150%;
  }
  .mobile-text {
    display: none;
  }
  .laptop-text {
    display: block;
  }
}
